*{
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
   padding:0px;
   margin:0px;
   font-family: 'Heebo', sans-serif;
}
   html {
     scroll-behavior: smooth;
    }
   body{
       float: left;
       width: 100%;
       margin:0px;
   }
  
    .contact_us_container{
        max-width: 950px;
        margin: 0px auto;
     }
     .contact_us_page_body{
        background: #f7f7f7;
float: left;     
width: 100%;
}
.contact_us_section .contact_us_form form label{
    display: block;
width: 100%;
margin-bottom: 6px;
color: #fff;
}
.contact_us_section .contact_us_form form label span{
    color:#f97242;
}
.contact_us_section{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.contact_us_section h2{
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us_section .contact_us{
padding: 0px 10px;
}
.contact_us_section .contact_us_form{
    float: left;
    width: 100%;
   
    padding: 30px 30px;
    margin-bottom: 10px;
    background-color: #2b2b2b;
}
.contact_us_section .contact_us_form .message_input_field{
float: left;
width: 100%;
}
.contact_us_section .contact_us_form .message_input_field textarea{
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 margin-bottom: 20px;
 outline: none;
}
.contact_us_section .contact_us_form form .contact_us_field{
display: grid;
grid-template-columns: auto auto;
gap: 6px 30px;
width: 100%;
margin-bottom: 7px;
}
.contact_us_section .contact_us_form form .contact_us_field input{

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     margin-bottom: 20px;
     outline: none;
     width: 100%;
}
.contact_us_section .contact_us_form form .contact_us_field input:focus{
    box-shadow:#f97242;
    outline: 1px solid #f97242;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact_us_section .contact_us_form form .submit_btn{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    width: 100%;
}
.contact_us_section .contact_us_form form .submit_btn button{
    color:#f97242;
    border: none;
    padding: 7px 80px;
    cursor: pointer;
    user-select: none;
     font-size: 17px;
     border-radius: 50px;
     transition: 0.5s ease-in-out;
    }
    .contact_us_section .contact_us_form form .submit_btn button:hover{
        color: #fff;
        background-color: #f97242;

        transition: 0.5s ease-in-out;
    }

    .contact_us_section .contact_us_form form .captcha_box{
        float: left;
        width: 100%;
        margin-bottom: 25px;
        }
 



/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

       }





/*mobile rotation*/
@media (max-width: 767px) {
   
    }

/*mobile*/
@media (max-width: 540px) { 
   
        .contact_us_section .contact_us_form form .contact_us_field {
            grid-template-columns: auto;
        }
        .contact_us_section .contact_us_form form .submit_btn button {
            padding: 7px 41px;
        }
    }

